<%- include("../partial/header") %>
    <h1 style="color: blue;">Thanks for Contacting Us</h1>
    <br>
    <br>
    <h4>Dear
        <%= udata.uname %>,</h4>
    <br><br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus illo, ullam dolores porro inventore voluptate nam hic recusandae rerum? Est debitis odio inventore aperiam neque tempore nobis vitae recusandae dolore.
    </p>
    <br><br>
    <h5>Thanks & Regards</h5>
    <%- include("../partial/footer") %>