/* Mehak 's CSS */


/* class for about us heading at the top*/

.a {
    background-color: black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-size: x-large;
    color: pink;
}


/* class for decorating headings written in the middle of the page */

.i {
    background-color: #5C1746;
    font-size: large;
    color: #cbd46d;
    font-weight: bold;
    font-family: monospace;
}


/* css for first paragraph which written at the top */

.u {
    font-size: medium;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.b {
    background-color: #3a5778;
    border-color: #9a3c90;
    border-radius: 20%;
    color: pink;
    padding: 2%;
}

.c {
    border-radius: 25%;
}

.h {
    color: deeppink;
    font-weight: bold;
}

.d {
    font-size: large;
    color: #5C1746;
    text-align: center;
}