.udiv {
    margin-top: 8rem;
    margin-left: 25rem;
}

.heading1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.uform {
    margin: 2rem;
}

.req {
    text-align: center;
    margin: 1rem;
}