.main {
    margin: 20px;
}

.contactform {
    margin: 1vh 36vh;
    width: 69vw;
}

.contactform div {
    margin: 1px auto;
    display: flex;
    flex-direction: column;
    width: 59vw;
}

.contactform div input {
    padding: 3px;
}

.btn {
    width: 66px;
    padding: 4px px;
    margin: auto;
}