.main {
    margin: 20px;
}

.contactform {
    margin: 1vh auto;
    width: 22vw;
}

.contactform div {
    margin: 1px auto;
    display: flex;
    flex-direction: column;
    width: 59vw;
}

.contactform div input {
    padding: 3px;
    border-radius: 1em;
    width: 17em;
}

.btn-sm {
    width: 4rem;
    margin: auto 7em;
    border-radius: 1em;
    background-color: purple;
    color: white;
    border-color: lavender;
}

.btn-sm:hover {
    background-color: aliceblue;
    border-color: purple;
    color: black;
}