* {
    box-sizing: border-box;
}


/* CSS for title */

.glim {
    margin-right: 20%;
}


/* Required margin for form content */

.req {
    text-align: center;
    margin: 1rem;
}


/* CSS for login  */

.login {
    margin-top: 12%;
    margin-left: 35%;
    background-color: #f7d5da;
    border: 1rem groove;
    font-weight: bold;
}

.lbody {
    background-image: url('/images/login-bgimg.jpg');
}


/* CSS for Signup */

.sbody {
    background-image: url('/images/sign_img.jpg');
}

.signup {
    margin-top: 10%;
    border: .5rem groove;
    background-color: rgb(240, 193, 240);
    margin-left: 32%;
}


/* CSS for main content of index page */

.maincontent {
    background-color: snow;
}


/* CSS for heading of  */

.heading1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


/* CSS for Login and signup form */

.uform {
    margin: 2rem;
}


/* CSS for Cards */

.card {
    border-radius: 1rem;
    border-color: black;
    margin: 1%;
    padding: 1%;
}


/* CSS for row */

.rows:after {
    content: "";
    display: table;
    clear: both;
}


/* CSS for Column index page */

.column {
    float: right;
    width: 70%;
}

.sidecol {
    float: left;
    width: 25%;
}


/* CSS for blog size of blog page */

.blogsize {
    width: 75%;
    margin-left: 18%;
    margin-right: 2%;
}


/* Mehak 's CSS */

.a {
    background-color: black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-size: x-large;
    color: pink;
}

.i {
    background-color: palevioletred;
    font-size: large;
    color: red;
    font-weight: bold;
    font-family: monospace;
}

.u {
    font-size: medium;
    color: cyan;
    font-weight: bold;
}

.b {
    background-color: pink;
    border-radius: 20%;
    color: purple;
    padding: 2%;
}

.c {
    border-radius: 25%;
}

.h {
    color: deeppink;
    font-weight: bold;
}

.d {
    font-size: large;
    color: darkorange;
    text-align: center;
}


/* To make responsive layout */

@media screen and (max-width:600px) and (min-width:500px) {
    .login {
        margin-top: 12%;
        margin-left: 20%;
    }
    .column {
        width: 100%;
    }
    .column.side,
    .column.main {
        width: 100%;
    }
}

@media screen and (max-width:780px) {
    .signup {
        margin-top: 8%;
        margin-left: 32%;
    }
}