<%- include("../partial/header") %>
    <div class="container-fluid">
        <div class="card signup col-md-8 col-sm-6">
            <h1 class="heading1 req">Sign up</h1>
            <form class="row g-3 uform">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email Id">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">First Name</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="First Name">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Last Name</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Last Name">
                </div>
                <div class="col-12 req">
                    <p>Already have an account? <a href="/user/login">Sign in</a></p>
                </div>
                <div class="col-12 req">
                    <a href="/changepassword"><button type="submit" class="btn btncolor">Sign up</button></a>
                </div>
            </form>
        </div>
    </div>
    <%- include("../partial/footer") %>