<%- include('../partial/header') %>
    <section>
        <div class="container">
            <div class="container-fluid card blogsize">
                <center>
                    <h1>Blog Title</h1>
                    <h4>Written by: <i>Author Name</i></h4>
                    <h5><i> Created on:</i> 2021</h5>
                </center>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas magni porro expedita quia itaque dicta, fuga consectetur quasi dolorum eveniet molestiae recusandae eos eum ducimus nam perspiciatis cumque magnam pariatur voluptas consequatur in. At quasi,
                    atque molestias autem iusto sed quaerat nostrum repudiandae libero, harum obcaecati deserunt fugit dolore dolorum, aperiam ipsum. Tempore explicabo, voluptas iure, perspiciatis asperiores quidem repellendus voluptatibus labore fugit
                    dignissimos excepturi magnam architecto hic corporis consectetur numquam, culpa nobis exercitationem quis et cumque velit. Pariatur eaque architecto, rem blanditiis totam sed voluptatibus eum! Consequatur, blanditiis aut? Deserunt,
                    et fugiat. Rerum, possimus aut. Commodi, dolor ab nemo eum quia veniam ullam non distinctio suscipit officia aspernatur sunt perspiciatis sed minima, a quas corrupti dicta enim labore, voluptatem harum. Neque quia laboriosam totam
                    architecto? Ad libero ipsa numquam maxime eveniet quidem praesentium ipsam obcaecati quae, nihil, hic deleniti repellat dolor optio doloremque quisquam! Accusamus atque sed ea harum.
                </p>
                <div class="container justify-content-center">
                    <img src="/images/img_of_blog.png" alt="blog-image" class="center">
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, deleniti quia amet ipsum eum eaque ad minima molestias dolor fugiat debitis quas beatae consequatur, officia magni veniam doloribus itaque suscipit, expedita mollitia blanditiis porro ipsam
                    ratione? Labore sapiente tempora velit! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, accusamus quidem possimus, perspiciatis consectetur harum enim architecto voluptas natus ipsum omnis sed suscipit minus,
                    ipsam laudantium vel vitae. Culpa at error laboriosam nam eligendi est modi, incidunt enim tenetur ut voluptatibus nostrum mollitia nihil commodi corrupti recusandae deleniti maiores sapiente?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, rem! Obcaecati eaque iste, quos quod quam vero repellat numquam maxime totam a praesentium similique sed ex et autem officia? Nisi?
                </p>
            </div>
        </div>
    </section>
    <%- include('../partial/footer') %>