<%- include("../partial/header") %>
    <h1>Contact Us</h1>



    <form class="contact card" style="text-align: right; " action="/sendemail" method="post">

        <h2> ASK YOUR QUERY:</h2>

        <div>
            <input type="text" name="uname" placeholder="Enter name ">
        </div>
        <br>
        <div>
            <input type="email" name="uemail" placeholder="Enter email ">
        </div>
        <br>
        <div>
            <input type="text" name="uphoneno" placeholder="Enter phone ">
        </div>
        <br>
        <div>
            <input type="text" name="message" placeholder="Enter Message ">
        </div>
        <br>
        <input style="background-color:blueviolet;" type="submit" value="SEND">
    </form>

    <div>
        <p>
            <h2> GET IN TOUCH </h2>
            <h3><br> <br> Hey! We are looking forward to start a project with you!
                <br> Etiam sit amet convallis erat – class aptent taciti <br> sociosqu ad litora torquent per conubia! Maecenas gravida lacus. Lorem etiam sit amet convallis erat.
            </h3>
        </p>
    </div>
    <%- include("../partial/footer") %>