<%- include("../partial/header") %>
    <h1>Contact Us</h1>



    <form class="contact card" style="text-align: right; " action="/sendemail" method="post">

        <h2> ASK YOUR QUERY:</h2>

        <div>
            <input type="text" name="uname" placeholder="Enter name ">
        </div>
        <br>
        <div>
            <input type="email" name="uemail" placeholder="Enter email ">
        </div>
        <br>
        <div>
            <input type="text" name="uphoneno" placeholder="Enter phone ">
        </div>
        <br>
        <div>
            <input type="text" name="message" placeholder="Enter Message ">
        </div>
        <br>
        <button class="btncolor" type="button"> Send</button>
    </form>
    <br>
    <br>

    <div>
        <p>
            <h2> &nbsp; &nbsp; GET IN TOUCH </h2>
            <h4><br> <br> &nbsp; &nbsp; Hey! We are looking forward to start a project with you!
                <br> <br> &nbsp; &nbsp; Etiam sit amet convallis erat – class aptent taciti sociosqu ad litora torquent per <br> &nbsp; &nbsp; conubia! Maecenas gravida lacus. Lorem etiam sit amet convallis erat.
            </h4>
        </p>


        <div class="card sidecol right-card  u-container-layout u-valign-middle u-container-layout-3">
            <h6 class="u-text u-text-default u-text-1">call us</h6>
            <p class="u-text u-text-default u-text-2">1 (234) 567-891<br>1 (234) 987-654
            </p>
            <h6 class="u-text u-text-default u-text-3">location</h6>
            <p class="u-text u-text-default u-text-4">121 Rock Sreet, 21 Avenue,<br>New York, NY 92103-9000
            </p>
            <h6 class="u-text u-text-default u-text-5">business hours</h6>
            <p class="u-text u-text-default u-text-6">Mon – Fri …… 10 am – 8 pm<br>Sat, Sun ....… Closed
            </p>
        </div>
    </div>
    <br>
    <%- include("../partial/footer") %>