<%- include("../partial/header") %>


    <div class="container">
        <div class="row">
            <!-- <div class="card col-md-5">
                <p>
                    <h2> &nbsp; &nbsp; GET IN TOUCH </h2>
                    <h4> <br> &nbsp; &nbsp; Hey! We are looking forward to start a project with you!
                        <br> <br> &nbsp; &nbsp; Etiam sit amet convallis erat – class aptent taciti sociosqu ad litora torquent per
                        <br> &nbsp; &nbsp; conubia! Maecenas gravida lacus. Lorem etiam sit amet convallis erat.
                    </h4>
                </p>
            </div> -->
            <div class="card col-md-6">
                <h3>Office Address:</h3>
                <ul type="none">
                    <li>Punjbhi Bagh</li>
                    <li>Lajpat Nagar</li>
                    <li>Munkda</li>
                </ul>
                <h3>Time:</h3>
                <table>
                    <tr>
                        <th>Days</th>
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>10:00 A.M. to 5:00 P.M.</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>10:00 A.M. to 5:00 P.M.</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>10:00 A.M. to 5:00 P.M.</td>
                    </tr>
                    <tr>
                        <td>Thrusday</td>
                        <td>10:00 A.M. to 5:00 P.M.</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>10:00 A.M. to 5:00 P.M.</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>10:00 A.M. to 5:00 P.M.</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>Holiday</td>
                    </tr>
                </table>
            </div>
            <div class=" card col-md-3">
                <form class="" action="/sendemail" method="post">
                    <center>
                        <h2> Ask your query</h2>
                    </center>
                    <br>
                    <div class="formItem">
                        <input type="text" name="uname" placeholder="Enter name ">
                    </div>
                    <br>
                    <div class="formItem">
                        <input type="email" name="uemail" placeholder="Enter email " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    </div>
                    <br>
                    <div class="formItem">
                        <input type="text" name="uphoneno" placeholder="Enter phone " pattern="[0-9]{5}[-][0-9]{7}[-][0-9]{1}">
                    </div>
                    <br>
                    <div class="formItem">
                        <input type="text" name="message" placeholder="Enter Message ">
                    </div>
                    <div class="btn">
                        <button class="btn-sm" type="button"> Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <br>
    <%- include("../partial/footer") %>