<%- include("../partial/header") %>
    <h1>Contact Us</h1>
    <form style="text-align: right; " action="/sendemail" method="post">
        <center>

            <h2> ASK YOUR QUERY:</h2>

            <div>
                <input type="text" name="uname" placeholder="Enter name ">
            </div>
            <br>
            <div>
                <input type="email" name="uemail" placeholder="Enter email ">
            </div>
            <br>
            <div>
                <input type="text" name="uphoneno" placeholder="Enter phone ">
            </div>
            <br>
            <div>
                <input type="text" name="message" placeholder="Enter Message ">
            </div>
            <br>
            <input style="background-color:red;" type="submit" value="SEND">
        </center>
    </form>
    <%- include("../partial/footer") %>