<%- include("../partial/header") %>

    <main>
        <section>
            <div class="row">
                <div class="column side">
                    <h2>Side</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo aliquam quaerat voluptatem magni tempora commodi laborum eius doloremque, animi nostrum?</p>
                </div>
                <div class="column main">
                    <h2>Main</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe incidunt quod cumque ad veritatis ducimus, placeat assumenda eum nostrum. Repellendus beatae eveniet repudiandae aperiam omnis voluptatum similique quis! Ab maiores
                        dolorum eveniet inventore ducimus nam! Sunt quidem atque similique nesciunt, quam exercitationem deserunt sit omnis molestias, veritatis necessitatibus impedit!</p>
                </div>
            </div>
        </section>

    </main>

    <%- include("../partial/footer") %>