<%- include('../partial/header') %>
    <section>
        <div class="container">
            <div class="container-fluid card blogsize">
                <div class="row">
                    <div class="col-12 text-center">

                        <h1>Blog Title</h1>
                        <h4>Written by: <i>Author Name</i></h4>
                        <h5><i> Created on:</i> 2021</h5>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 ">
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit vel voluptate doloremque praesentium, minus quis tempore incidunt earum voluptatibus expedita aperiam adipisci ut laboriosam amet ipsa reprehenderit esse vitae voluptates asperiores eaque itaque.
                            Repellat quod laborum ipsum autem optio similique deleniti omnis corporis, esse, at, quis est dolores sint enim. Iste perspiciatis inventore suscipit, fugiat ea, totam minus excepturi, tempore voluptatibus doloribus natus!
                            Sapiente ipsa a consequuntur nihil adipisci, officia doloremque ipsum alias labore impedit asperiores iusto excepturi reprehenderit ex perspiciatis unde quibusdam, aspernatur necessitatibus! Non nihil dignissimos quasi incidunt
                            animi molestias ab dolorum voluptatem distinctio libero hic reprehenderit a quos voluptatibus, amet, eius ipsa maiores commodi nemo sit! Fuga beatae ab itaque expedita odit harum nesciunt nihil possimus. Amet nisi magni mollitia
                            optio nostrum harum dignissimos laudantium aliquid modi facilis, esse dolor corporis totam? Aliquid error nisi officiis, officia assumenda possimus excepturi dignissimos accusantium deserunt totam quos neque quis! Eos vitae
                            facilis sint voluptatem eaque repellat quis perferendis tenetur sit officia tempora necessitatibus expedita provident dignissimos accusantium culpa, cupiditate consectetur corporis possimus deserunt ab architecto voluptas.
                            Aliquam aut exercitationem totam cum, tempora perferendis dolorum possimus natus eaque ut autem pariatur sunt voluptatum cupiditate, laborum, minima corrupti impedit quis facere. Omnis dignissimos, placeat animi adipisci corrupti
                            autem hic excepturi libero sequi quas! Repellendus quasi earum aut quas aliquid placeat porro optio voluptate, tenetur, itaque dolor nesciunt molestias aperiam? Maiores, odit nobis dolore pariatur debitis ex itaque dolorem
                            non vel sed fuga quis minus omnis ipsum iusto vitae quo aliquid magnam. Consequuntur labore aliquid ab nisi asperiores consequatur debitis! Sunt delectus voluptate dolore inventore mollitia. Saepe ipsa libero culpa, alias doloribus
                            cum beatae repellendus ullam nulla quod molestias hic sapiente suscipit laboriosam ipsam esse asperiores aliquid, distinctio obcaecati repellat porro! Eius tenetur ea iusto, quisquam ducimus quis quod maxime quam, animi neque
                            iste minus nemo architecto fuga quae excepturi assumenda alias a corporis? Quasi ut eos eaque qui adipisci. Accusamus officiis quisquam, voluptatum harum recusandae saepe inventore quod, velit vero adipisci sapiente id est,
                            corporis atque non placeat quibusdam illo beatae natus provident incidunt maxime vel? Sed voluptate laudantium commodi eveniet. Aperiam quis exercitationem illum sapiente minus obcaecati non voluptatem, veritatis asperiores
                            magni. Ea est cum sequi cupiditate exercitationem laboriosam voluptatum perspiciatis saepe deleniti, magni asperiores. Eaque, vel quasi laborum amet, sit magnam natus exercitationem alias pariatur tenetur totam ex repellendus
                            eveniet excepturi iure accusantium iusto est cum consectetur cumque. Quam dolor impedit expedita iste cumque enim laboriosam. Ex ratione corrupti veritatis delectus tempora sunt! Porro molestiae cum adipisci hic numquam ea
                            corrupti accusamus excepturi velit. Fugit quisquam natus possimus illo aspernatur iste magni quibusdam vitae quasi laborum impedit architecto ea, voluptatum error maiores molestiae maxime perferendis debitis repudiandae minima
                            autem non modi. Placeat consectetur reprehenderit numquam tempore dolor, ea in, laudantium temporibus mollitia earum beatae eveniet reiciendis laborum magni similique. Natus incidunt iusto a, id alias delectus ipsam omnis distinctio
                            recusandae deserunt, doloremque, repellat quia quam! Ducimus fuga, sequi reprehenderit vel quidem, tempore doloremque eos, similique explicabo minus nobis reiciendis. </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img src="/images/img_of_blog.png" alt="blog-image" class="img-fluid center-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, deleniti quia amet ipsum eum eaque ad minima molestias dolor fugiat debitis quas beatae consequatur, officia magni veniam doloribus itaque suscipit, expedita mollitia blanditiis porro ipsam
                            ratione? Labore sapiente tempora velit! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, accusamus quidem possimus, perspiciatis consectetur harum enim architecto voluptas natus ipsum omnis sed suscipit
                            minus, ipsam laudantium vel vitae. Culpa at error laboriosam nam eligendi est modi, incidunt enim tenetur ut voluptatibus nostrum mollitia nihil commodi corrupti recusandae deleniti maiores sapiente?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, rem! Obcaecati eaque iste, quos quod quam vero repellat numquam maxime totam a praesentium similique sed ex et autem officia? Nisi?
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <%- include('../partial/footer') %>