<%- include('./partial/header.ejs') %>
    <div class="container">
        <p>
            <form action="">
                <input type="text" placeholder="Blog title">
                <input type="text" placeholder="">
                <input type="text" placeholder="">
                <input type="text" placeholder="">
                <input type="image"><label for="">Upload your image</label>
            </form>
        </p>
    </div>
    <%- include('./partial/footer.ejs') %>