<%- include("../partial/header.ejs") %>
    <div class="container">
        <p>
            <div class="container ">
                <form action="/blog/saveblog" method="post" enctype="multipart/form-data">
                    <div class="container field-margin ">
                        <input type="text" name="btitle" class="tncts" placeholder="Blog title">
                    </div>
                    <div class="container field-margin">
                        <input type="text" name="bname" class="tncts" placeholder="Blog Name">
                    </div>
                    <div class="container field-margin">
                        <input type="file" name="bimage" value="upload your image" placeholder="upload your image"><label for="">Upload your image</label>
                    </div>
                    <div class="container field-margin">
                        <textarea type="text" class="textarea" name="bcontent" placeholder="Content: "></textarea>
                    </div>
                    <div class="container field-margin">
                        <textarea type="text" name="bfootnote" class="textarea" placeholder="Blog Foot Note: "></textarea>
                    </div>
                    <div class="container field-margin">
                        <input type="text" name="bcreatedby" class="tncts" placeholder="Blog Created by: ">
                    </div>
                    <div class="container field-margin">
                        <input type="text" name="btag" class="tncts" placeholder="Blog Tags">
                    </div>
                    <div class="container field-margin">
                        <input type="text" name="bstatus" class="tncts" placeholder="Blog Status">
                    </div>
                    <div class="container field-margin">
                        <input type="submit" class="btn-sm" name="bsubmit" value="Submit">
                    </div>
                </form>
            </div>
        </p>
    </div>
    <%- include("../partial/footer.ejs") %>